@{
    ViewBag.Title = "About";
    var brandlogo = string.Format("{0}/{1}.jpg", Url.Content("~/Content/MyImages"), "beach");
}

<p></p>

<div class="row  beach">
    <div class="col-md-4">
        <h2></h2>
        <p>
            <img src="@brandlogo">
        </p>

    </div>
   
</div>
